.allert-overlay {
    background-color: var(--color-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.succes-box {
    background-color: var(--color-background);
    border-radius: var(--size-radius-small);
    border: solid var(--color-blue-dark) var(--size-border-base);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-spacing-small);

    padding: var(--size-spacing-medium) var(--size-spacing-large); //16px 24px
}