.allert-overlay {
    background-color: var(--color-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.succes-box {
    background-color: var(--color-background);
    border-radius: var(--size-radius-small);
    border: solid var(--color-blue-dark) var(--size-border-base);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    padding: 32px 40px;
    max-width: 90%;
}

.succes-box .title-text {
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
}

.succes-box .bold-text {
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: center;
}

.succes-box .circle {
    transform: scale(1.2);
}