.overlay-start {
    background-color: var(--color-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    
}

.container--catch-game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}


.game-instruction {
    color: var(--color-text-reverse);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.game-intstruction__text-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.game-instruction__text {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    font-weight: 700;
}
.game-instruction__cards {
    display: flex;
    gap: var(--size-spacing-medium);
}

.game-instruction__countdown {
    font-size: 2.6rem;
    font-weight: 700;
    margin-top: 16px;
}

/* Make small IconArrow instances larger inside catch game instructions */
.game-instruction .circle--in-text {
    width: 64px;
    height: 64px;
}
.game-instruction .circle--in-text svg {
    width: 36px;
    height: 36px;
}