/* ---Score-card--- */
.score-card {
    width: 203px;
    background-color: var(--color-background);
    border-radius: var(--size-radius-small);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px 16px 16px;
}
.score-card--add {
    color: var(--color-brand);
    border: solid var(--color-brand) var(--size-border-base);
}
.score-card--min {
    color: var(--color-red-light);
    border: solid var(--color-red-light) var(--size-border-base);
}

/* -- +1 of -1 -- */
.score-card__score {
    font-size: var(--size-text-title);
    align-self: end;
}
.score-card__score--add {
    color: var(--color-brand);
    
}
.score-card__score--min {
    color: var(--color-red-light);
}

/* --image-box-- */
.score-card__img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image-stones */
.img__stones--grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
}
.stones__stone {
    width: 3.125rem;
}
/* image-mand */
.img__basket {
    width: 8.125rem;
}