.container--fact {
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-bottom: 0;
}


/* Fact */
.fact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-spacing-large);
}

.fact-content--centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    max-width: 600px;
}

.fact-content__title {
    font-size: 6rem;
    text-transform: capitalize;
}

.fact-content__img {
    width: 164px;
    height: 164px;
}

.fact-content__fact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-spacing-base); 
}

.fact__big-text{
    font-size: 3.5rem; 
}

.fact__small-text{
    font-size: 2rem;
    text-align: center;
}