.full-screen-container {
    height: 100svh;
    width: 100svw;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
}

.container--home {
    align-items: center;
    gap: 0;
    justify-content: center;
}