.loading-video-container {
    padding: 0;
}

/*.video-page {
  position: fixed;
  inset: 0;
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}*/


.loading-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
