/* Navigation */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__back, .nav__next {
    display: flex;
    align-items: center;
    gap: var(--size-spacing-base); //12px
}

/*.nav__next {
    display: flex;
}*/