.overlay--search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.game-intsruction--search {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.arrow-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.arrow-wrapper__side {
    display: flex;
    gap: 16px;
}

.game-intsruction--search .content__text {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
    max-width: 90%;
}

.arrow-wrapper .circle--button {
    width: 100px;
    height: 100px;
}

.arrow-wrapper .circle svg {
    width: 48px;
    height: 48px;
}