.overlay--search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.game-intsruction--search {
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-large);
    align-items: center;
    justify-content: center;
}

.arrow-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.arrow-wrapper__side {
    display: flex;
    gap: 24px;
}

.game-intsruction--search .content__text {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.arrow-wrapper .circle--button {
    width: 140px;
    height: 140px;
}

.arrow-wrapper .circle svg {
    width: 64px;
    height: 64px;
}