.overlay--search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.game-intsruction--search {
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-large); //24px;
}

.arrow-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.arrow-wrapper__side {
    display: flex;
    gap: 48px;
}