.video-container {
    //width: 500px;
    //height: 280px;
    width: 500px;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    text-align: center;
    position: relative; 
    overflow: hidden;
    border-radius: var(--size-radius-base); 
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--size-radius-base, 10px);
  background: #000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.messages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: var(--color-overlay);
    border-radius: var(--size-radius-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-spacing-small);

    /* Animatie voor knipperen */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    box-sizing: border-box;
}

.video-overlay.hidden {
  opacity: 0;
}

.video-overlay.visible {
  opacity: 1;
}